a[href*='https://github.com/Chainlit/chainlit'] {
    visibility: collapse;/* Hides the original text */
    position: relative;
}

a[href*='https://www.alessandrocrimi.com']::after {
    content: "Its me."; /* New text to display */
    visibility: visible;
    color: black; /* Color of the new text */
    position: absolute;
    width: 100%;
    height: 100%;
}